services:
  - type: web
    name: flask-socketio-app
    env: python
    plan: free
    region: oregon
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn --worker-class gevent --bind 0.0.0.0:$PORT --timeout 120 app:app